.page-category {
  background-color: #f4f4f4;
  $cate_height: 100px;
  $brand_height: 100px;
  .cate-list {
    display: flex;
    align-items: center;
    height: $cate_height;
    background-color: #fff;
    .cate-item {
      flex: 1;
      font-size: 28px;
      text-align: center;
    }
  }

  .scroll-main {
    position: fixed;
    top: $cate_height;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .brand-list {
    .brand-item {
      width: 160px;
      height: $brand_height;
      font-size: 28px;
      text-align: center;
    }
  }

  .p-list {
    flex: 1;
    font-size: 0;
    .p-item {
      float: left;
      width: 170px;
      margin-bottom: 10px;
      text-align: center;
      border: 1px#f2f2f2 solid;
      box-sizing: border-box;
      &:nth-child(odd) {
        margin-right: 5px;
      }
      &:nth-child(even) {
        margin-left: 6px;
      }
    }
    .p-logo-wrap {
      background-color: #f2f2f2;
    }
    .p-logo {
      width: 124px;
      height: 124px;
    }
    .p-name {
      margin-top: 6px;
      font-size: 14px;
    }
    .p-tip {
      margin-top: 4px;
      font-size: 12px;
      color: #666;
    }
    .p-now-price {
      margin-top: 4px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    .now-price-num {
      font-size: 14px;
      font-weight: 500;
      color: #fe5649;
    }
  }    
}